#body{
     background-color: #f2cdac;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
   
}

#leveloneheading{
    size: 120%;
    color:#4c4a59;
    text-align: center;
}

  .anchor{
    text-decoration: none;
    color: black;
    
}

#Cr{
    text-align: center;
    font-color:#4c4a59;
    size: 100%;
}

.leveltwoheading{
    size: 110%;
    color: #1b7f7a;
    text-align: center;
   
}

#art{
    background-color: #4caba6;
    width: 70%;
    padding:1em;
    margin: auto;
}

#pg{
    font-size: 18px;
    color: #81043ea4;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
   
}





